.grade{
    text-align:center;
}
.value{
    text-align:center;
}
.comment{
    text-align:center;
}
.submit{
    text-align:center;
}
.back{
    text-align:center;
    font-size:20px;
}
h2{
    margin-top:30px;
}
.choice_grade{
    margin-top:10px;
}
.input_value{
    margin-top:10px;
}
.comment_space{
    margin-top:10px;
}
