.cards{
    margin-top:10px;
}
.card{
    width:400px;
    height:480px;
    text-align:center;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
}
.name{
    margin-top:10px;
}
.value_ave{
    margin-top:10px;
}
.image{
    width:180px;
    height:250px;
}
select{
    width:150px;
    height:30px;
    margin-bottom:10px;
}
.submit-button {
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-top:10px;
}
.submit-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.paginate{
    margin-top:30px;
}
.description{
    font-size:30px;
    text-align:center;
}
ol{
    padding-left:450px;
    font-size:22px
}